<template>
  <div id="app">
    <h1>PETstock FED Test</h1>
    <div class="controls">
      <section class="categories">
        <ul>
            <li v-for="cat in categories" :key="cat.slug">
                <button v-on:click="selectedCategory=cat.slug;" v-bind:class="{ active: selectedCategory==cat.slug }">{{ cat.name }}</button>
            </li>
        </ul>
      </section>
      <section class="sorting">
        <ul>
          <li>
            <button class="small" v-bind:class="{ active: sortOrder=='asc' }" v-on:click="sortOrder='asc'">Low - High</button>
          </li>
          <li>
            <button class="small" v-bind:class="{ active: sortOrder=='desc' }" v-on:click="sortOrder='desc'">High - Low</button>
          </li>
        </ul>
      </section>
    </div>
    <div class="results">
      <p>Found {{products.length}} results</p>
      <ul class="products">
            <li v-for="p in products" :key="p.sku">
                <div class="product" data-category="adult">
                    <span class="sale" v-if="p.fullPrice != p.listPrice">SALE</span>
                    <div class="image">
                        <a v-bind:href="p.href" target="_blank"> 
                            <img v-bind:src="p.img" v-bind:alt="p.name">
                        </a>
                    </div>

                    <div class="product-detail">    
                        <div class="name">{{ p.name }}</div>
                        <div class="old-price">{{ p.fullPrice }}</div>
                        <div class="new-price">{{ p.listPrice }}</div> 
                    </div>
                </div>
            </li>
      </ul>
    </div>
  </div>
</template>

<script>
import response from './data.json';
export default {
    name: 'app',
    components: {
    },
    data() {
      return {
          categories: response.categories,
          products: response.products,
          selectedCategory: null,
          sortOrder: null,
      };
    },
    computed: {

    },
    methods: {
      filter: function(filterVal) {
          this.products = response.products.filter(function (item) {
              return item.category.match(filterVal);
          });
      },

      sort: function(direction) {
          this.products.sort(function(a,b) {
              return (direction == 'asc') ? a.listPrice - b.listPrice : b.listPrice - a.listPrice; 
          });
      }

    },
    watch: {
        selectedCategory: function() {
            this.filter(this.selectedCategory);
        },
        sortOrder: function() {
            this.sort(this.sortOrder);
        }
    }
};
</script>

<style lang="scss">
    $size-mobile-max: 37.5rem;
    $size-large: 2 * $size-mobile-max;

    $color-gray: #6B6B6B;
    $color-white: #fefefe;
    $color-sale: #82B366;
    $color-controls: #3333FF;

    @mixin flex-row() {
        display: flex;
        flex-direction: row;    
    }

#app {
    font-family: Helvetica, Arial, sans-serif;
    > * {
      max-width: 75rem;
      margin: 0 auto;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .controls {
        display: grid;
        grid-template-columns: 3fr 2fr;

        ul {
          @include flex-row();
          
            li {
                flex: 1;
                margin-right: 5px;

                @media screen and (min-width: $size-mobile-max) {
                    flex: unset;
                    width: 120px;
                }
            }

        }

        button {
            width: 100%;
            max-width: 120px;
            padding: 10px 0;
            margin-right: 5px;
            border-radius: 5px;
            border: solid 1px $color-controls;
            background-color: $color-white;
            color: $color-controls;



            &:hover {
                cursor: pointer;
            }

            &.small {
                max-width: 90px;
            }

            &.active {
                color: $color-white;
                background-color: $color-controls;
            }
        }

    }

    .results > ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        
        li {
            margin: 0 1rem 2rem 0;

            .image {
                padding: 10px;
                margin-bottom: .5rem;
                border: solid 1px #000;

                @media screen and (min-width: $size-mobile-max) {
                   
                }

                img {
                    max-width: 100%;
                }   


            }

            .sale {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: -20px -10px 0 0;
                float: right;
                height: 40px;
                width: 40px;
                color: $color-white;
                background-color: $color-sale;
                border-radius: 50%;
                font-size: .8em;
                
                +.image {
                    padding-bottom: 1px;
                }

            }

        }

    }
    @media screen and (min-width: $size-mobile-max) {
        .results > ul {
            display: grid;
            grid-template-columns: repeat(4, 25%);
        }
    }
}

</style>
